<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>AdminLTE 3 | General Form Elements</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Font Awesome -->
  <link rel="stylesheet" href="/PublicTemplate/plugins/fontawesome-free/css/all.min.css>
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="/PublicTemplate/css/adminlte.min.css">
  <!-- Google Font: Source Sans Pro -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body class="hold-transition sidebar-mini">
<div>
  <!-- Content Wrapper. Contains page content -->
  <div class="content">
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1></h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#"></a></li>
              <li class="breadcrumb-item active"></li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- ce que veux-->
          <div class="col-md-2">

          </div>
          <div class="col-md-8">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">HELLO</h3>
                <% if (messages.success) { %>
                  <div class="alert alert-success" role="alert"><%- messages.success %></div>
                  <% } %>
                <% if (messages.error) { %>
                      <div class="alert alert-danger" role="alert"><%- messages.error %></div>
                  <% } %>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form method="post" action="/ProjetMairie/demandePapier"  class="form-horizontal">
                <div class="card-body">
                  <div class="form-group row">
                    <label for="nom" class="col-sm-2 col-form-label">Name</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" name="nom" id="nom" value="<%=nom%>" placeholder=" Enter your Name">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="firstName" class="col-sm-2 col-form-label">First Name</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" name="firstName" id="firstName" value="<%=firstName%>" placeholder=" Enter your First Name">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="tel" class="col-sm-2 col-form-label">Phone</label>
                    <div class="col-sm-10">
                      <input type="tel" class="form-control" name="tel" id="tel" value="<%=tel%>" minlength="11" maxlength="11" placeholder=" Enter your number">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="email" class="col-sm-2 col-form-label">Email</label>
                    <div class="col-sm-10">
                      <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp" value="<%=email%>" placeholder="Enter your Email">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="projetLot" class="col-sm-2 col-form-label">Projet Lot</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" name="projetLot" id="projetLot" value="<%=projetLot%>" placeholder=" Enter your Projet Lot">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="arrondissement" class="col-sm-2 col-form-label">Arrondissement</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" name="arrondissement" id="arrondissement" value="<%=arrondissement%>" placeholder=" Enter your Arrondissement name">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="quatier" class="col-sm-2 col-form-label">Quatier</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" name="quatier" id="quatier" value="<%=quatier%>" placeholder=" Enter your quatier name">
                    </div>
                  </div>
                    <div class="form-group-row">
                      <label for="pieces" class="col-sm-4 col-form-label">Pièces</label>
                        <div class="col-sm-8">
                          <input type="file" name="pieces"  name="piece" id="pieces" required/>
                        </div>
                    </div>
                  <div class="form-group row">
                    <div class="col-sm-10">
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck2">
                        <label class="form-check-label" for="exampleCheck2">Remember me</label>
                      </div>
                    </div>
                  </div>
                </div>                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </form>
            </div>
          </div>
          <div class="col-md-2">

          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
  </div>
</div>

<!-- jQuery -->
<script src="/PublicTemplate/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="/PublicTemplate/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- bs-custom-file-input -->
<script src="/PublicTemplate/plugins/bs-custom-file-input/bs-custom-file-input.min.js"></script>
<!-- AdminLTE App -->
<script src="/PublicTemplate/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="/PublicTemplate/js/demo.js"></script>
<script type="text/javascript">
$(document).ready(function () {
  bsCustomFileInput.init();
});
</script>
</body>
</html>
